.clear-fix{
  zoom: 1;
}
.clear-fix:after{
  content:"";
  display: block;
  clear:both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
h1,h2,h3,h4,h5,h6,ul,dl{
  margin:0;
  padding: 0;
}
ul,dl{
  list-style-type: none;
}
.el-tabs .el-tabs__active-bar{
  background-color: red;
}
.el-tabs__item.is-active{
  width:80px;
  color: red;
}
.el-tabs__header{
  border-bottom: 1px solid red;
}
.el-tabs__item{
  font-size:16px;
  font-weight:800;
  width:80px;
  padding: 0 18px;
}
.el-tabs__nav-scroll{
  background: #fff;
}
.el-tab-pane{
  color: red;
}
.el-table_1_column_1{
  width:300px;
}

.el-radio+.el-radio{
  margin-left:0;
  margin-top:15px;
}
.el-select .el-input__inner{
  height: 25px;
}
.el-textarea__inner{
  margin-left: 20px;
}

.biao_msg{
  height: 60px;
}
.el-tabs__nav-wrap{
  border-bottom:1px solid red;
}
.bianjilan{
  margin-left: 20px;
  margin-top: 20px;
  width: 900px;
  height: 500px;
}
.el-upload-list{
  display: none;
}
.el-dialog--tiny{
  width:60%;
}
.tiao[data-v-4652715a]{
  top:421px!important;
}
.two[data-v-49fb326f]{
  width: 126px!important;
}
.tiao[data-v-3c557b1d]{
  top:34px!important;
}
.fujian{
  margin: 0 auto;
  width:90%;
}
.two[data-v-49fb326f]{
  width: 126px;
}
.shenpi[data-v-6420d6ef]{
  margin:50px auto!important;
  width: 900px!important;
}
.el-dialog__header{
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
}
.el-dialog__body{
  padding-top: 10px;
  padding-bottom: 0;
}
.el-dialog__headerbtn .el-dialog__close{
  margin-top: 20px;
}
.el-dialog__footer{
  padding-top: 0;
  padding-bottom: 0;
  height: 60px;
  line-height: 60px;
}
.el-message-box{
  margin-left: 260px;
}
.el-dialog--tiny{
  width:1000px;
}
.shen{
  margin-right: 50px;
  float:left;
}
.shen1{
  margin-right: 38px;
  float:left;
}
h2{
  text-align: left;
  color: red;
}
.el-select{
  float:left;
}
.con{
  width:500px;
  display: inline-block;
  color:orange;
  float: left;
  margin-left: 20px;
  text-align: left;
}
td{
  overflow: hidden;
}
.shen[data-v-02f640ce],.shen1[data-v-02f640ce]{
  text-align:left;
  padding-left: 20px!important;
  overflow: hidden;
  /*position:relative;*/
}
.con1{
  height: 36px;
  line-height: 36px;
}
.el-select-group__title{
}
.el-select[data-v-02f640ce]{
}
.el-input__icon,.el-input__inner{
  height: 40px;
/*  width: 260px;
*/}
.el-tree[data-v-5f302b49]{
  height: 100px!important;
}
td[data-v-5f302b49]{
  /*height: 100px;*/
}
.tiao[data-v-1680078f]{
  top:306px!important;
}
.select[data-v-b7fb1f86]{
  margin-top: 5px!important;
}
.el-table .cell{
  text-align: center;
}
.el-table .cell, .el-table th>div{
  padding:0;
}
 .el-button .el-button--default {
  position: absolute;
  right: 0;
}
.one .el-select .el-input__inner{
  height: 40px;
}
.one .el-select .el-input .el-input__icon{
  opacity: 0;
  z-index: 1000;
  width: 60px;
}

.caption1 .el-select .el-input .el-input__icon{
    opacity: 0;
    z-index:1000;
    width: 70px;
  background: red;
}
.caption1 .el-select .el-input .el-input__icon.is-reverse{
  opacity: 0;
  z-index: 200;
  width:70px;
}
.special .el-input__inner{
  width:100%;
}
.one .el-select .el-input__inner{

}
.one .el-button {
  position: absolute;
  right: 0;
}
.zylx .el-input__inner{
  border-radius: 0;
  height: 24px;
  font-size: 12px;
  /*width: 100%;*/
}
.zylx .el-date-editor.el-input{
  width: 100%;
}
.zylx .el-input__icon{
  width: 0;
  height: 0;
  display: none;
}
.message .el-textarea__inner{
  margin-left: 10px;
}
.approval-record .el-dialog__header{
  border-bottom: 1px solid;
  height: 20px;
}
.approval-record .el-dialog__headerbtn .el-dialog__close{
  margin-top: 5px;
}
.agreement .el-textarea__inner{
  margin:0 auto;
  width:98%;
}
.agreement .el-radio-group{
  margin-left: 30px;
}
.agreement .el-radio{
  margin-right: 20px;
}
.agreement .el-form-item__content{
  margin-left: 10px!important;
  margin-top: 10px;
}
.agreement .submit{
  margin-bottom: 10px;
}
.agreement .submit .el-button{
  width:18.8%;
  height: 30px;
  padding: 0;
}
.approver .el-input__inner{
  border: none;
  border: 1px solid gray;
  border-radius: 0;
  height: 25px;
  width: 100%;
}
.approver .el-autocomplete{
  width: 100%;
}
